html,
body {
    margin: 0;
    padding: 0;
    background: #D8DEE7;
}

:root {
    .Mui-focused {
        & .MuiOutlinedInput-notchedOutline {
            border: 1px solid #3C37FF !important;
            &:hover {
                border-color: 'yellow';
            }

        }
    }

    --border-radius-container: 15px;
    --info-container-width: 40%;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: "NotoSans-Black";
    src: local("NotoSans-Black"),
        url("./assets/fonts/NotoSans-Black.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans-ExtraBold";
    src: local("NotoSans-ExtraBold"),
        url("./assets/fonts/NotoSans-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans-Medium";
    src: local("NotoSans-Medium"),
        url("./assets/fonts/NotoSans-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans-Regular";
    src: local("NotoSans-Regular"),
        url("./assets/fonts/NotoSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans-SemiBold";
    src: local("NotoSans-SemiBold"),
        url("./assets/fonts/NotoSans-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans-Bold";
    src: local("NotoSans-Bold"),
        url("./assets/fonts/NotoSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans-Light";
    src: local("NotoSans-Light"),
        url("./assets/fonts/NotoSans-Light.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans-ExtraLight";
    src: local("NotoSans-ExtraLight"),
        url("./assets/fonts/NotoSans-ExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans-Thin";
    src: local("NotoSans-Thin"),
        url("./assets/fonts/NotoSans-Thin.ttf") format("truetype");
}

.form-control {
    margin: 8px 0px;

    .form-control-label {
        font: normal normal 12px NotoSans-SemiBold;
        color: #000000;
        margin: 0px 0px 5px 0px;
    }

    .form-control-input {
        width: 100%;

        .MuiOutlinedInput-root {
            height: 100%;

            &:hover fieldset {
                border-color: #C4C4C4;
            }

            input {
                padding: 9px 10px;
                font: normal normal 12px NotoSans-Regular;
                color: #000000;
            }
        }
        p.MuiFormHelperText-root.Mui-error {
            font: normal normal 10px NotoSans-Medium;
        }
    }

    .form-control-checkbox {
        .MuiFormControlLabel-label {
            font: normal normal 12px NotoSans-Regular !important;
        }

        .checkbox {
            padding: 0px 9px 0px 9px !important;

            svg {
                width: 20px;
                height: 20px;
            }
        }
    }
}

.button-mbt-10 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.button-principal {
    background: #3C37FF !important;
    text-transform: none !important;
    color: #ffffff !important;
    width: 100%;
    font: normal normal 12px NotoSans-Medium !important;
    padding: 10px !important;
}
.button-principal.MuiLoadingButton-loading {
    background: #3e37ff69 !important;
    .MuiLoadingButton-loadingIndicator {
        color: #3C37FF !important;
    }
}